@page
@model HistoryModel
@using System.Linq
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "History";
    bool IsDevelopment = Configuration.GetValue("IsDevelopment",false);
    string PwShUrl = Configuration.GetValue("PwShUrl","api")!;
    bool IsAuthenticated = HttpContext.User.Identity.IsAuthenticated;
    bool SqlLoggingEnabled = Configuration.GetValue("SqlLogging:Enabled", false);
    string UserName = HttpContext.User.Identity!.Name ?? "%UserName%";
    bool UserIsInRoleAdmin = hasRole(HttpContext,"Admin");
    bool UserIsInRoleUser = hasRole(HttpContext,"User");
    // var UserRoles = getRoles(@Request.HttpContext);
    var Query = Request.Query.ToDictionary(x => x.Key.ToString().ToLower(), x => x.Value.ToString());


    int _interval = 25;
    string _interval_str = Query.GetValueOrDefault("interval","25");
    if (int.TryParse(_interval_str, out int _interval_int)) {_interval = _interval_int;}
    if (_interval < 1) {_interval = 1;}

    int _count = 25;
    string _count_str = Query.GetValueOrDefault("count","25");
    if (int.TryParse(_count_str, out int _count_int)) {_count = _count_int;}
    if (_count < 1) {_count = 1;}

}

@functions {
    public bool hasRole(HttpContext Context, string Role = "") {
        List<IConfigurationSection> Roles = Configuration.GetSection("Roles").GetChildren().Where(x => Role.Length == 0 || x.Key.ToLower() == Role.ToLower()).ToList();
        foreach (IConfigurationSection Role_ in Roles) {
            if (Configuration.GetSection(Role_.Path).GetChildren().Any(x => Context.User.IsInRole($"{x.Value}"))) {
                return true;
            };
        }
        return false;
    }
    public List<string> getRoles(HttpContext Context) {
        List<IConfigurationSection> Roles = Configuration.GetSection("Roles").GetChildren().ToList();
        List<string> Result = new();
        foreach (IConfigurationSection Role_ in Roles) {
            if (Configuration.GetSection(Role_.Path).GetChildren().Any(x => Context.User.IsInRole($"{x.Value}"))) {
                Result.Add(Role_.Key);
            };
        }
        return Result;
    }
}

<div id="conf" style="display:none;"><input name="PwShUrl" value="@PwShUrl"></div>

@* <h2>Request Query</h2><table>
@foreach (var _ in @Query)
{
    <tr><td>@_.Key</td><td>@_.Value</td></tr>
}
</table> *@


@if (!IsAuthenticated && !IsDevelopment) {
    <div class="text-center"><h3>Вы не авторизованы</h3></div>
} else if (!hasRole(HttpContext) && !IsDevelopment) {
    <div class="text-center"><h3>У вас нет прав на просмотр этой страницы</h3></div>
} else {
    if (IsDevelopment) {
        <div class="text-center text-danger"><h3>Включен режим разработки, права пользователей не учитываются!</h3></div>
    }
    if (!SqlLoggingEnabled) {
        <div class="text-center"><h3>Чтение журнала возможно только при ведении SQL-лога</h3></div>
    } else {
        <div class="row row-cols-2 content">
            <!-- LEFT -->
            
            <div id="Param" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-4 col-xxl-4">
                <form>
                    <div class="input-group input-group-sm w-100">
                        <label for="_load_param" class="form-label w-25">Load Param</label>
                        <div id="_load_param" class="input-group input-group-sm w-75">
                            <span class="input-group-text">interval</span>
                            <input name="_interval" type="number" min="1" max="3600" aria-label="interval" class="form-control" value="@_interval">
                            <span class="input-group-text">count</span>
                            <input name="_count" type="number" min="1" max="1000" aria-label="count" class="form-control" value="@_count">
                        </div>
                    </div>

                    <div id="_filters" class="input-group input-group-sm w-100">


                        <label for="_wrapper" class="form-label w-25">Wrapper</label>
                        <div id="_wrapper" class="input-group input-group-sm w-75">
                            <select name="_wrapper_op" class="form-select">
                                <option value="=">=</option><option value="!">!=</option>
                                <option value="~">like</option><option value="!~">not like</option>
                            </select>
                            <input name="_wrapper" type="text" class="form-control w-75">
                        </div>

                        <label for="_script" class="form-label w-25">Script</label>
                        <div id="_script" class="input-group input-group-sm w-75">
                            <select name="_script_op" class="form-select">
                                <option value="=">=</option><option value="!">!=</option>
                                <option value="~">like</option><option value="!~">not like</option>
                            </select>
                            <input name="_script" type="text" class="form-control w-75">
                        </div>

                        <label for="_begindate1" class="form-label w-25">Date Begin</label>
                        <div id="_begindate1" class="input-group input-group-sm w-75">
                            <select name="_begindate1_op" class="form-select">
                                <option value=">">&gt;=</option><option value="!<">&gt;</option>
                                <option value="<">&lt;=</option><option value="!>">&lt;</option>
                            </select>
                            <input name="_begindate1" type="datetime-local" class="form-control w-75">
                        </div>

                        <label for="_begindate2" class="form-label w-25">Date End</label>
                        <div id="_begindate2" class="input-group input-group-sm w-75">
                            <select name="_begindate2_op" class="form-select">
                                <option value=">">&gt;=</option><option value="!<">&gt;</option>
                                <option value="<">&lt;=</option><option value="!>">&lt;</option>
                            </select>
                            <input name="_begindate2" type="datetime-local" class="form-control w-75">
                        </div>

                        <label for="_username" class="form-label w-25">UserName</label>
                        <div id="_username" class="input-group input-group-sm w-75">
                            <select name="_username_op" class="form-select">
                                <option value="=">=</option><option value="!">!=</option>
                                <option value=">">&gt;=</option><option value="!<">&gt;</option>
                                <option value="<">&lt;=</option><option value="!>">&lt;</option>
                                <option value="~">like</option><option value="!~">not like</option>
                            </select>
                            <input name="_username" type="text" aria-label="Value" placeholder="Value" class="form-control w-75">
                        </div>

                        <label for="_ipaddress" class="form-label w-25">IPAddress</label>
                        <div id="_ipaddress" class="input-group input-group-sm w-75">
                            <select name="_ipaddress_op" class="form-select">
                                <option value="=">=</option><option value="!">!=</option>
                                <option value="~">like</option><option value="!~">not like</option>
                            </select>
                            <input name="_ipaddress" type="text" aria-label="Value" placeholder="Value" class="form-control w-75">
                        </div>

                        <label for="_method" class="form-label w-25">Method</label>
                        <div id="_method" class="input-group input-group-sm w-75">
                            <select name="_method_op" class="form-select">
                                <option value="=">=</option><option value="!">!=</option>
                            </select>
                            <input name="_method" type="text" aria-label="Value" placeholder="Value" class="form-control w-75">
                        </div>

                    </div>
                </form>
                <div id="ParamURL"></div>
            </div>
            
            <!-- RIGHT -->
            
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-4 col-xxl-4">
                <div id="LogTable" class="w-100">
                    <table id="LogTable" class="table table-hover table-striped"></table>
                </div>
                <button type="button" class="_btn_load_more btn btn-secondary w-100">More</button>
            </div>
        
        </div>

    }
}

<script src="~/js/History.js" asp-append-version="true"></script>

<div id="ModalTemplate" class="modal fade w-100" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="_modal_close btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="Modals"></div>
